#container {
  display: grid;
  grid-template-columns: repeat(4, 4fr);
  gap: 30px;
  width: 100%;
  margin: 0 auto;

  .card {
    background-color: gray;
    padding: 8px;
  }

  .tag {
    padding: 4px 8px;
    border: 1px solid #e5eaed;

    border-radius: 50px;
    font-size: 12px;
    font-weight: 600;
    color: #fff;
  }

  .name {
    font-size: 24px;
    font-weight: 600;

    margin-top: 16px;
  }

  p {
    font-size: 14px;
    color: #fff;
    line-height: 150%;
  }

  .card__details {
    /* Add space around the details */
    padding: 16px 8px 8px 8px;
  }
}
