.main {
  width: 100%;
  max-width: 592px;
  margin-top: 10em;
  margin-right: auto;
  margin-left: 100px;

  h1 {
    font-size: 7.5em;
    font-family: Inter, sans-serif;
    color: #fff;
  }

  h1:nth-child(3) {
      background-color: red;
  }

  .paragraph {
    margin-top: 50px;
    font-size: 1.7em;
    text-align: left;
    opacity: 0.6;
    color: #cdcdd1;
    font-family: Inter, sans-serif;
  }
}
