@import url("https://fonts.googleapis.com/css2?family=Ubuntu:wght@500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Gwendolyn&display=swap");
header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 30px 13%;
}

.logo {
  cursor: pointer;
}

.nav__links a,
.cta,
.overlay__content a {
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  color: #edf0f1;
  text-decoration: none;
}

.nav__links {
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 2em;
  font-size: 1.5em;
}

.nav__links li {
  -webkit-transition: 0.5s all ease;
  transition: 0.5s all ease;
  gap: 10px;
}

.nav__links li a {
  -webkit-transition: color 0.3s ease 0s;
  transition: color 0.3s ease 0s;
}

.nav__links li:hover {
  -webkit-transition: 0.5s all ease;
  transition: 0.5s all ease;
  -webkit-transform: translateY(25%);
          transform: translateY(25%);
}

.cta {
  padding: 10px 25px;
  border: 2px solid #0088a9;
  border-radius: 50px;
  cursor: pointer;
  -webkit-transition: background-color 0.5s ease 0s;
  transition: background-color 0.5s ease 0s;
}

.cta:hover {
  background-color: #0088a9;
}

/* Mobile Nav */
.menu {
  display: none;
}

.overlay {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  background-color: #24252a;
  overflow-x: hidden;
  -webkit-transition: width 0.5s ease 0s;
  transition: width 0.5s ease 0s;
}

.overlay--active {
  width: 100%;
}

.overlay__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 100%;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.overlay a {
  padding: 15px;
  font-size: 36px;
  display: block;
  -webkit-transition: color 0.3s ease 0s;
  transition: color 0.3s ease 0s;
}

.overlay a:hover,
.overlay a:focus {
  color: #0088a9;
}

.overlay .close {
  position: absolute;
  top: 20px;
  right: 45px;
  font-size: 60px;
  color: #edf0f1;
}

@media screen and (max-height: 450px) {
  .overlay a {
    font-size: 20px;
  }
  .overlay .close {
    font-size: 40px;
    top: 15px;
    right: 35px;
  }
}

@media only screen and (max-width: 800px) {
  .nav__links,
  .cta {
    display: none;
  }
  .menu {
    display: initial;
  }
}

.main {
  width: 100%;
  max-width: 592px;
  margin-top: 10em;
  margin-right: auto;
  margin-left: 100px;
}

.main h1 {
  font-size: 7.5em;
  font-family: Inter, sans-serif;
  color: #fff;
}

.main .recipes {
  background-image: linear-gradient(transparent calc(65% - 5px), #004a5d 5px);
}

.main .paragraph {
  margin-top: 50px;
  font-size: 1.7em;
  text-align: left;
  opacity: 0.6;
  color: #cdcdd1;
  font-family: Inter, sans-serif;
}

.img-container {
  position: absolute;
  left: 55%;
  top: 10%;
  overflow: hidden;
}

.img-container img {
  height: 800px;
  width: 750px;
}

.paragraph-section {
  margin-top: 260px;
  margin-left: 8.5em;
  margin-right: 8.5em;
  text-align: justify;
  color: #cdcdd1;
  font-family: Inter, sans-serif;
}

.paragraph-section .title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 0.5em;
  font-size: 3em;
  text-align: center;
  margin-bottom: 0.3em;
}

.paragraph-section hr {
  margin: 0 auto;
  margin-bottom: 1.5em;
  width: 50%;
  border: 2px solid #0088a9;
}

.paragraph-section p {
  margin-bottom: 2em;
  font-size: 1.7em;
}

.recipes-hero {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-left: 50px;
  margin-top: 4em;
}

.recipes-hero h1 {
  font-size: 5em;
  font-family: Inter, sans-serif;
  color: #fff;
}

.recipes-hero .hover-text {
  display: inline-block;
  position: relative;
  cursor: pointer;
}

.recipes-hero .hover-text::after {
  content: "";
  position: absolute;
  width: 100%;
  border: 2px solid #0088a9;
  -webkit-transform: scaleX(0);
          transform: scaleX(0);
  height: 3px;
  top: 95px;
  bottom: 0;
  left: 0;
  background-color: #0088a9;
  -webkit-transform-origin: bottom right;
          transform-origin: bottom right;
  -webkit-transition: -webkit-transform 0.25s ease-out;
  transition: -webkit-transform 0.25s ease-out;
  transition: transform 0.25s ease-out;
  transition: transform 0.25s ease-out, -webkit-transform 0.25s ease-out;
}

.recipes-hero .hover-text:hover:after {
  -webkit-transform: scaleX(1);
          transform: scaleX(1);
  -webkit-transform-origin: bottom left;
          transform-origin: bottom left;
}

* {
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
}

body {
  background-color: #0a0a0b;
}
/*# sourceMappingURL=style.css.map */