$color: #0088a9;

.recipes-hero {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 50px;
  margin-top: 4em;

  h1 {
    text-align: center;
    font-size: 5em;
    font-family: Inter, sans-serif;
    color: #fff;
    &:hover {
      transition: 0.5s all ease;
      text-decoration: wavy;
      text-decoration-line: underline;
      color: #0088a9;
    }
  }
}
