$color: #0088a9;

.recipes-hero {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 50px;
  margin-top: 4em;

  h1 {
    font-size: 5em;
    font-family: Inter, sans-serif;
    color: #fff;
  }

  .hover-text {
    display: inline-block;
    position: relative;
    cursor: pointer;
  }

  .hover-text::after {
    content: "";
    position: absolute;
    width: 100%;
    border: 2px solid $color;
    transform: scaleX(0);
    height: 3px;
    top: 95px;
    bottom: 0;
    left: 0;
    background-color: $color;
    transform-origin: bottom right;
    transition: transform 0.25s ease-out;
  }

  .hover-text:hover:after {
    transform: scaleX(1);
    transform-origin: bottom left;
  }
}
